
body, header {
  margin: 0;
}

body {
  background-color: #fbfbfb; 
  font-family: Arial, sans-serif; 
}

.main {
  display: flex;
  direction: rtl;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff2f8; 
  color: #ffffff; 
  border-radius: 5px;
  overflow-y: auto; 
  max-height: 100vh;
}

#rightSec{
  width: 20%; 
  overflow-y: auto;
}

.leftSec {
  width: 80%; 
 justify-content: center;
}

#dashbord{
  width: 100%;  
  max-height: 550vh;
}

.Outlet {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  border-radius: 5px;
}
ul{
  list-style: none;  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 100%;
}

#item  {
  list-style: none;
  direction: rtl;
  margin-top: 2vh;
  cursor: pointer;
  width: 30%;
}

li {
  margin-bottom: 10px;
  font-weight: 500;
  white-space: nowrap;
  /* padding: 10px 15px; */
  padding: 10px;
  color: #E35F83; 
  
}
 a{
  text-decoration: none;
}

/* #log{
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  color: #E35F83;
  transition: background-color 0.3s ease-in-out;
  direction: rtl;
  cursor: pointer;
} */
#log {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.item:hover {
  background-color: #ffdce7;
}
#log:hover {
  background-color: #ffdce7;
}

.item {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out; 
}

.item li {
  padding: 5px 15px;
}
#log li {
  padding: 5px 15px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #097e2a; 
  color: white; 
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #85c140;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: right; 
}

#upload-button {
  background-color: #097e2a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#upload-button:hover {
  background-color: #85c140;
}

#file-name {
  margin-top: 10px;
  color: #555;
}

ul::after {
  content: '';
  display: block;
  height: 20px; /* فضای خالی اضافی */
}
 
 
  
