
body, header {
  margin: 0;
}

body {
  background-color: #fbfbfb; 
  font-family: Arial, sans-serif; 
}

.main {
  display: flex;
  direction: rtl;
  width: 100%;
}

#rightSec{
  width: 20%; 
}

.leftSec {
  width: 80%; 
 justify-content: center;
}

.dashbord{
  width: 100%;  
}

.Outlet {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  border-radius: 5px;
}
ul{
  list-style: none;
}

#item  {
  list-style: none;
  direction: rtl;
  margin-top: 2vh;
  cursor: pointer;
  width: 30%;
}

li {
  font-weight: 500;
  white-space: nowrap;
  padding: 10px 15px;
  color: #E35F83; 
}

#log{
  font-weight: 500;
  white-space: nowrap;
  padding: 10px 15px;
  color: #E35F83;
  list-style: none;
  direction: rtl;
  margin-top: 2vh;
  cursor: pointer;
  width: 30%; 
}


.item:hover {
  background-color: #ffdce7;
}
#log:hover {
  background-color: #ffdce7;
}

.item {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

#log {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

aside {
  display: flex;
  padding: 15px;
  background-color: #fff2f8; 
  color: #ffffff; 
  border-radius: 5px;
}

.item li {
  padding: 5px 15px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #097e2a; 
  color: white; 
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #85c140;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: right; 
}

#upload-button {
  background-color: #097e2a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#upload-button:hover {
  background-color: #85c140;
}

#file-name {
  margin-top: 10px;
  color: #555;
}

  
 
  
