body {
    /* direction: rtl; */
    overflow: hidden; /* غیرفعال کردن اسکرول اصلی صفحه */
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
   
}

.container {
    /* direction: rtl; */
    max-width: 1200px;
    margin: 0 auto;
    max-height: calc(100vh - 50px); /* ارتفاع کانتینر با در نظر گرفتن فضای اضافی */
    overflow-y: auto; /* فعال کردن اسکرول عمودی */
    padding: 20px;

}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #333;
}

.gallery {
    display: flex;
    flex-direction: column; /* چیدمان عمودی کارت‌ها */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;  
}

.image-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; 
    width: 100%; 
    padding: 15px; 
    gap: 15px; /* فاصله بین تصویر و متن */
    align-items: center; /* تنظیم عمودی محتوا */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card img {
    width: 120px; 
    height: 120px; 
    border-radius: 10px;
    object-fit: cover; /* حفظ تناسب تصویر */
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start; /* چینش دکمه‌ها در چپ */
}

#details {
    flex: 1; /* اجازه می‌دهد متن تمام فضای باقی‌مانده را بگیرد */
    text-align: center;
    direction: rtl; 
    font-size: 1em; 
    color: #333;
    line-height: 1.6;
}

.edit-btn, .delete-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn{
    margin-left: 10px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #e53935;
}

.image-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* نمایش زمانی که هیچ عکسی وجود ندارد */
.no-images {
    text-align: center;
    font-size: 1.2em;
    color: #888;
    width: 100%;
    margin-top: 20px;
}