/* body{
    overflow: hidden;
} */
#formdiv{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-height: calc(100vh - 50px); 
    /* overflow-y: auto; */
    margin: 0 auto;
    padding: 20px;
    direction: rtl;
    
}

form {
    display: flex;
    background: #fff;
    padding:10px ;
    padding-right: 10px;
    /* margin-right: 63px; */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    border:1px solid red;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}
 .Outlet {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    border-radius: 5px;
  }
  /*
  .leftSec {
    width: 80%; 
   justify-content: center;
  } */
table {
    display: flex;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px 0;
    vertical-align: top;
}

input[type="text"], textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background: #28a745;
    color: #fff;
    
}

input[type="submit"]:hover {
    background: #218838;
}

input[type="reset"] {
    background: #dc3545;
    color: #fff;
}

input[type="reset"]:hover {
    background: #c82333;
}
input:hover{
    background-color: #fff3f6;
    border: 1px solid #f47899;
}
textarea {
    resize: none;
}

span {
    color: red;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#buttons-container{
    display: flex;
    justify-content: center; /* افقی وسط می‌شود */
    gap: 5px; /* فاصله بین دکمه‌ها */
    margin-top: 20px; /* فاصله از بالای فرم */
}

#upload-button {
    padding: 10px 20px;
    background-color: #E35F83;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: inline-block; /* برای عملکرد درست به عنوان لیبل */
}

#upload-button:hover {
    background-color: #c94b6c;
}

#file-name {
    margin-right: 10px;
    font-size: 0.9rem;
    color: #333;
}

.error-message {
    margin-top: 5px;
    display: block;
}
/* کانتینر اصلی */
#main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* بخش داشبورد */
#dashboard-section {
    width: 20%;
    background-color: #f5f5f5; /* رنگ پس‌زمینه برای تمایز */
    border-left: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* بخش فرم آپلود */
#upload-section {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto; /* اسکرول عمودی در صورت نیاز */
}

/* استایل‌های فرم و دیگر عناصر بدون تغییر */

