#formdiv {
    display: flex;
    justify-content: center; /* وسط چین کردن افقی */
    align-items: center; /* وسط چین کردن عمودی */
    width: 100%;
    height: 100vh; /* ارتفاع صفحه رو می‌گیریم */
    padding: 20px;
    direction: rtl;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 60%; /* عرض فرم رو محدود می‌کنیم */
    max-width: 800px; /* عرض فرم رو برای اندازه‌های بزرگتر محدود می‌کنیم */
    border: 1px solid red;
    height: auto; /* ارتفاع فرم تنظیم می‌شود */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%; /* عرض جدول رو به 100% تنظیم می‌کنیم */
    border-collapse: collapse;
    margin: 0 auto; /* جدول رو وسط‌چین می‌کنیم */
}

td {
    padding: 10px 0;
    vertical-align: top;
}

input[type="text"], textarea {
    width: 80%; /* عرض ورودی‌ها و تکست‌ئریا رو کم و زیاد می‌کنیم */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background: #28a745;
    color: #fff;
}

input[type="submit"]:hover {
    background: #218838;
}

input[type="reset"] {
    background: #dc3545;
    color: #fff;
}

input[type="reset"]:hover {
    background: #c82333;
}

input:hover {
    background-color: #fff3f6;
    border: 1px solid #f47899;
}

textarea {
    resize: none;
}

span {
    color: red;
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

#upload-button {
    padding: 10px 20px;
    background-color: #E35F83;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#upload-button:hover {
    background-color: #c94b6c;
}

#file-name {
    margin-right: 10px;
    font-size: 0.9rem;
    color: #333;
}

.error-message {
    margin-top: 5px;
    display: block;
}
