body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  /*  background: linear-gradient(135deg, #74ebd5, #acb6e5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px 0;
    vertical-align: top;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background: #28a745;
    color: #fff;
}

input[type="submit"]:hover {
    background: #218838;
}

input[type="reset"] {
    background: #dc3545;
    color: #fff;
}

input[type="reset"]:hover {
    background: #c82333;
}
input:hover{
    background-color: #fff3f6;
    border: 1px solid #f47899;
}
textarea {
    resize: none;
}

span {
    color: red;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


#upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#upload-button:hover {
    background-color: #0056b3;
}

#file-name {
    margin-right: 10px;
    font-size: 0.9rem;
    color: #555;
}